.item{
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(0.9);
    transition: var(--main-transition);
    position: relative;
}
.item:hover{
    box-shadow: 5px 5px 20px 0px var(--text-color);
    scale: 1.1;
}
.item .itemImg{
    aspect-ratio: 3/4;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.item .itemImg img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1.2);
}
.item .details{
    color: var(--main-color);
    background-color: var(--text-color);
    position: relative;
    border-top: 1px solid var(--main-color);
    position: relative;
    height: 100px;
    padding: 20px;
}
.item .details .itemName,
.item .details .itemDescription{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 40px);
    text-align: center;
    transition: var(--main-transition);
}
.item .itemName{
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
}
.item .details .itemDescription{
    opacity: 0;
    font-size: 14px;
}
.item:hover .details .itemName{
    opacity: 0;
}
.item:hover .details .itemDescription{
    opacity: 1;
}
.item .details .prices{
    position: absolute;
    color: var(--text-color);
    right: 10px;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 14px;
}
.item .details .prices > *{
    background-color: var(--main-color);
    padding-left: 5px;
    padding-right: 5px;
}
.item .details .prices .oldPrice{
    text-decoration: line-through;
}
@media (max-width: 500px) {
    .item .details .itemName{
        font-size: 16px;
    }
}