
.logo{
    font-family: "ZCOOL KuaiLe", sans-serif;
    display: flex;
    align-items: center;
    font-size: 32px;
}
.logo.inverted p{
    color: var(--main-color);
}
.logo.inverted span{
    color: var(--header-text-color);
}
@media (max-width: 500px) {
    .logo.inverted span{
        display: none;
    }
}